<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://Java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MphjeeProj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <servlet-class>com.mph.example.index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeController</display-name>
    <servlet-name>EmployeeController</servlet-name>
    <servlet-class>com.mph.controller.EmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeController</servlet-name>
    <url-pattern>/EC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee</display-name>
    <servlet-name>Employee</servlet-name>
    <servlet-class>com.mph.model.Employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee</servlet-name>
    <url-pattern>/Employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userdao</display-name>
    <servlet-name>userdao</servlet-name>
    <servlet-class>com.mph.dao.userdao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userdao</servlet-name>
    <url-pattern>/userdao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>usedaoimpl</display-name>
    <servlet-name>usedaoimpl</servlet-name>
    <servlet-class>com.mph.dao.usedaoimpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usedaoimpl</servlet-name>
    <url-pattern>/usedaoimpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Calculate</display-name>
    <servlet-name>Calculate</servlet-name>
    <servlet-class>com.mph.Calculate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculate</servlet-name>
    <url-pattern>/Calculate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculateTest</display-name>
    <servlet-name>CalculateTest</servlet-name>
    <servlet-class>com.mph.test.CalculateTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateTest</servlet-name>
    <url-pattern>/CalculateTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyDBConnection</display-name>
    <servlet-name>MyDBConnection</servlet-name>
    <servlet-class>com.mph.util.MyDBConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyDBConnection</servlet-name>
    <url-pattern>/MyDBConnection</url-pattern>
  </servlet-mapping>
</web-app>